[submodule "dependencies/antigen"]
	path = dependencies/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "dependencies/vundle"]
	path = dependencies/vundle
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "dependencies/powerlinefonts"]
	path = dependencies/powerlinefonts
	url = https://github.com/powerline/fonts.git
[submodule "dependencies/siji"]
	path = dependencies/siji
	url = https://github.com/gstk/siji
[submodule "dependencies/i3blocks"]
	path = dependencies/i3blocks
	url = https://github.com/vivien/i3blocks
